body {
   font-family: 'Nunito', sans-serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
}

* {
   box-sizing: border-box;
   margin: 0 auto;
}

.img {
   width: 63px;
   height: 63px;
}

.nav__item-link {
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.2px;
   color: #ffffff;
}

.nav__item-link:hover {
   border-bottom: 1px solid #ffffff;

}

.head__link {
   margin-top: 45px;
   margin-left: 267px;
   text-decoration: none;
   font-weight: 600;
   font-size: 20px;
   line-height: 16px;
   letter-spacing: 0.1px;
   color: #ffffff;
}

.header {
   display: flex;

}

.menu {
   display: flex;
   column-gap: 32px;
   margin-left: 165px;
   margin-top: 45px;
}

.headline {
   color: #ffffff;
   margin-top: 13px;

}

.main {
   margin-top: -10px;
}

.main__header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin-top: 203px;

}

.lorem {
   margin-top: 35px;
   line-height: 32px;
   font-size: 24px;
   font-weight: 400;
   color: #FFFFFFB2
}

.info {
   padding-top: 47px;
   background-color: #EEEEEE;
   padding-bottom: 40px;
}


.wrapper {
   background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-size: 100% 812px;
   padding-bottom: 300px;
}


.section__headline {
   width: 670px;
   height: 120px;
   text-align: center;
   font-weight: 700;
   font-size: 48px;
   line-height: 64px;
   color: #464547;
   margin: 0 auto;
}

.section__p1 {
   width: 426px;
   height: 57px;
   text-align: center;
   height: 57px;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   color: #666666;
   margin: 0 auto;
   margin-top: 40px;
}

.btn {
   width: 115px;
   height: 36px;
   border-radius: 18px;
   background-color: #55c2d8;
   border-style: none;
   font-size: 14px;
   line-height: 26px;
   font-weight: 500;
   color: #FFFFFF;
   padding: 5px 20px 5px 17px;
   margin: 0 auto;
   margin-top: 42px;
   display: block;
}

.bottom__side {
   text-align: center;
   padding-bottom: 100px;
   background-image: url(../assets/bg1.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.bottom_side-btn {
   margin-top: 53px;
   width: 150px;
   height: 150px;
   background-color: #39C2D7;
   border-radius: 90px;
   border-style: none;
}

.trangle {
   color: #ffffff;
   font-size: 60px;
   padding-left: 20px;
}

.bottom__side-text {
   margin-top: 70px;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   color: #ffffff;
}

.bottom__side-head {
   padding-top: 80px;
   font-weight: 700;
   font-size: 48px;
   line-height: 64px;
   color: #ffffff;
}

.footer-box {
   margin-left: 150px;
   display: flex;
   padding-top: 40px;
   padding-bottom: 38px;

}

.footer__text {
   margin-left: 80px;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF66;
}

.footer_link {
   margin-top: 20px;
   text-decoration: none;
   color: #FFFFFF66;

}

.footer__text-p_2 {
   margin-bottom: 27px;
}

.footer {
   background-color: #464547;
}

.footer__head {
   margin-left: 10px;
   font-weight: 400;
   line-height: 16px;
   font-size: 18px;
   color: #ffffff;
   letter-spacing: 20%;
}

.footer__icon {
   margin: 0;
   width: 20px;
   height: 20px;
}

.info__p {
   display: flex;
   margin-left: 20px;
   margin-top: 45px;
   column-gap: 180px;

}

.section__p2,
.section__p3 {
   width: 408px;
   height: 172px;
}

.copyright {
   color: #FFFFFF66;
   display: flex;
   align-self: end;

}

.menu__hide {
   display: none;
}